.navbar {
    z-index: 999;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    box-sizing: border-box;
    height: var(--navbar-height);
    background-color: var(--navbar-back-color);
    color: var(--navbar-fore-color);
    display: flex;
    flex-direction: column;
    transition: background-color 1s, color 1s; /* Light to dark mode transition */
    touch-action: none;
}

.navbar .navbarButtons {
    flex: 1;
    display: flex;
    flex-direction: row;
    padding: 12px;
    padding-top: 11px;
    gap: 12px;
}

.navbarControlsPrimary,
.navbarControlsSecondary,
.navbarControlsTertiary,
.navbarLeft,
.navbarCenter,
.navbarRight,
.navbarAlt {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4px;
}

.navbarCenter {
    justify-content: center;
}
.navbarAlt {
    flex: 1;
}
.navbarAlt,
.navbarRight {
    justify-content: right;
}

.navbarNowPlaying {
    flex: 1;
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.navbarNowPlaying .navbarMediaInfo {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: center;
    font-size: 11pt;
    gap: 2px;
}
.navbarNowPlaying .navbarSongTitle,
.navbarNowPlaying .navbarSongInfo {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.navbarNowPlaying .navbarSongTitle {
    font-weight: bold;
}

/* Mobile layout */
#app.mobile {
    --navbar-total-height: calc(
        var(--navbar-height) + var(--navbar-mobile-height)
    ) !important;
}

#app.mobile .navbar {
    /* Offset main navbar to fit mobile navbar below */
    bottom: var(--navbar-mobile-height);
}

/* Flexible layout */
@media screen and (max-width: 900px) {
    .navbarAlt {
        display: none !important;
    }
}
@media screen and (max-width: 675px) {
    .navbarAlt,
    .navbarControlsTertiary {
        display: none !important;
    }
}
@media screen and (max-width: 550px) {
    .navbarAlt,
    .navbarControlsSecondary,
    .navbarControlsTertiary {
        display: none !important;
    }
}
