.songItem .songAlbumArt {
    --albumArtSize: 44px !important;
}
.songItem .songDetails {
    flex: 2;
    display: flex;
    flex-direction: row;
    padding-left: 2px;
}

.songItem .songDetails .songTitle,
.songItem .songDetails .songArtist,
.songItem .songDetails .songAlbum {
    flex: 1;
    text-overflow: ellipsis;
}

.songItem span.songDuration {
    flex: 0;
}

.songItem .songDetails .songTitle {
    font-weight: bold;
}

.songItem .songDetails .songInfo {
    flex: 2;
    display: flex;
    flex-direction: row;
    color: #bbb;
}

.songItem .songDetails .songInfo > span {
    text-overflow: ellipsis;
    min-width: 0;
    overflow: hidden;
    white-space: nowrap;
}

.songItem .songDetails .infoSeparator {
    display: none;
    margin: 0 6px;
}

@media screen and (max-width: 700px) {
    .songItem .songDetails {
        flex-direction: column;
    }
    .songItem .songDetails .songArtist,
    .songItem .songDetails .songAlbum {
        flex: initial;
    }
    .songItem .songDetails .infoSeparator {
        display: initial;
    }
    .songItem .songAlbumArt {
        --albumArtSize: 50px !important;
    }
}
