.libraryPane {
    z-index: 990;
    position: fixed;
    top: 0;
    left: 0;
    bottom: var(--navbar-total-height);
    width: var(--sidebar-desktop-width);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4px;
    gap: 6px;
    background-color: #0a0a0a;
    box-shadow: inset -1px 0 0 0 rgba(255, 255, 255, 0.1);
}

.libraryPane button {
    flex: 0;
    width: 100%;
    padding: 8px 0;
    color: #eee;
}

@media screen and (max-width: 550px) {
    .libraryPane {
        visibility: hidden;
    }
}
