.stackView {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: baseline;
}

.stackView .stackItem {
    width: 100%;
    background-color: transparent;
    border: none;
    outline: none;
    color: white;
    font-family: var(--primary-font);
    font-size: inherit;
    text-align: left;
    display: flex;
    flex-direction: row;
    align-items: center;
    box-sizing: border-box;
    padding: 8px;
    gap: 8px;
    border-radius: 8px;
    position: relative;
    transition: background-color 0.2s;
}
.stackView .stackItem.focusable {
    user-select: none;
}
.stackView .stackItem:not(:last-child)::after {
    content: " ";
    position: absolute;
    bottom: 0;
    left: 6px;
    right: 6px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

#app.full .stackView .stackItem.focusable:hover {
    background-color: rgba(255, 255, 255, 0.1);
}
#app.all .stackView .stackItem.focusable:active {
    background-color: rgba(255, 255, 255, 0.2);
}

.stackView .stackItem > span {
    flex: 1;
}
