.navSeekBar {
    position: relative;
    width: 100%;
    height: 5px;
}

/* Progress bar */
.navSeekBar .progressBarWrapper {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: 0;
    padding: 0 6px;
    display: flex;
}
#app.mobile .navSeekBar .progressBarWrapper {
    padding: 0;
}
.navSeekBar .progressBar {
    flex-grow: 1;
    margin: 0;
    padding: 0;
    border: none;
    border-radius: 0;
    height: 3px;
    background-color: #303030;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
}

/* Chromium styling */
.navSeekBar .progressBar::-webkit-progress-bar {
    background-color: #303030;
}
.navSeekBar .progressBar::-webkit-progress-value {
    background-color: var(--accent-color);
}

/* Firefox styling */
.navSeekBar .progressBar::-moz-progress-bar {
    background-color: var(--accent-color);
}

/* Seeking thumb */
.navSeekBar .seekThumb {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    border-radius: 0;
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 3px;
    background-color: transparent;
}

#app.full .navSeekBar .seekThumb::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: var(--accent-color);
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
}
#app.mobile .navSeekBar .seekThumb::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    display: none;
    opacity: 0;
    visibility: 0;
}
#app.full .navSeekBar .seekThumb::-moz-range-thumb {
    width: 12px;
    height: 12px;
    border: none;
    border-radius: 50%;
    background-color: var(--accent-color);
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
}
#app.mobile .navSeekBar .seekThumb::-moz-range-thumb {
    -webkit-appearance: none;
    appearance: none;
    display: none;
    opacity: 0;
    visibility: 0;
}

/* Hovering effects */
#app.full .navSeekBar:hover .progressBar {
    transform: scaleY(2);
}
#app.full .navSeekBar:hover .seekThumb::-webkit-slider-thumb {
    transform: scale(1.25);
}
#app.full .navSeekBar:hover .seekThumb::-moz-range-thumb {
    transform: scale(1.25);
}

/* Focus effects */
.navSeekBar:focus-within .seekThumb::-webkit-slider-thumb {
    box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.2);
}
.navSeekBar:focus-within .seekThumb::-moz-range-thumb {
    box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.2);
}
