.seekBarWrap {
    display: flex;
    flex-direction: column;
    padding: 18px 16px 0;
}

.timeStamps {
    padding: 4px 6px 0;
    display: flex;
    flex-direction: row;
    font-size: var(--secondary-font-size);
}
.timeStamps > span {
    flex: 1;
}
.timeStamps > span:last-child {
    text-align: right;
}

.seekBar {
    position: relative;
    width: 100%;
    height: 5px;
    box-sizing: border-box;
}

/* Progress bar */
.seekBar .progressBarWrapper {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: 0;
    padding: 0 6px;
    display: flex;
}
.seekBar .progressBar {
    flex-grow: 1;
    margin: 0;
    padding: 0;
    border: none;
    border-radius: 0;
    height: 3px;
    background-color: rgba(128, 128, 128, 0.1);
    /* box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2); */
    transition: transform 0.2s;
}

/* Chromium styling */
.seekBar .progressBar::-webkit-progress-bar {
    background-color: #303030;
}
.seekBar .progressBar::-webkit-progress-value {
    background-color: white;
}

/* Firefox styling */
.seekBar .progressBar::-moz-progress-bar {
    background-color: white;
}

/* Seeking thumb */
.seekBar .seekThumb {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    border-radius: 0;
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 3px;
    background-color: transparent;
    transition: transform 0.2s;
}

.seekThumb::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: white;
    /* box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2); */
}
.seekThumb::-moz-range-thumb {
    width: 12px;
    height: 12px;
    border: none;
    border-radius: 50%;
    background-color: white;
    /* box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2); */
}

/* Hovering effects */
/* .seekBar:hover .progressBar {
    transform: scaleY(2);
}
.seekBar:hover .seekThumb::-webkit-slider-thumb {
    transform: scale(1.25);
}
.seekBar:hover .seekThumb::-moz-range-thumb {
    transform: scale(1.25);
} */

/* Focus effects */
.seekBar:focus-within .seekThumb::-webkit-slider-thumb {
    box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.2);
}
.seekBar:focus-within .seekThumb::-moz-range-thumb {
    box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.2);
}
