:root {
    --primary-font: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
        "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;
    --primary-font-size: 11pt;
    --secondary-font-size: 10pt;

    --accent-color: #1099b2;
    --accent-color-light: #26b9d3;
    --accent-color-dark: #04849a;

    --max-content-width: 900px;

    --page-back-color: #0a0a0a;
    --page-fore-color: white;

    --navbar-height: 70px;
    --navbar-back-color: #262626;
    --navbar-fore-color: white;

    --navbar-mobile-height: 64px;
    --navbar-mobile-back-color: #1f1f1f;
    --navbar-mobile-fore-color: white;

    --navbar-total-height: var(--navbar-height);

    --nowplaying-desktop-width: min(max(25vw, 300px), 400px);
    --sidebar-desktop-width: 70px;

    --tooltip-font-size: 11pt;
}

html,
body {
    overscroll-behavior: none;
}

body {
    margin: 0;
    padding: 0;
    font-family: var(--primary-font);
    font-size: var(--primary-font-size);

    background-color: var(--page-back-color);
    color: var(--page-fore-color);
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}

.tooltipHost {
    position: relative;
}

h1 {
    margin: 4px 0;
    font-size: 23pt;
}

h2 {
    margin: 2px 0;
    font-size: 17pt;
}
p {
    margin: 2px 0;
}

@keyframes border-highlight {
    from {
        background-color: rgba(255, 255, 255, 0.12);
        box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.3);
    }
    to {
        box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0);
    }
}
