.nowPlaying {
    z-index: 990;
    position: fixed;
    top: 0;
    right: 0;
    bottom: var(--navbar-total-height);
    width: var(--nowplaying-desktop-width);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    background-color: #262626;
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s, visibility 0.3s;
}

.nowPlaying.hidden {
    transform: translateX(100%);
    visibility: hidden;
}
.nowPlaying.hidden .tabPage {
    visibility: hidden !important;
}

.nowPlaying .topButtons {
    display: flex;
    flex-direction: row;
    padding: 8px;
}

.nowPlaying .topButtons .buttonsLeft,
.nowPlaying .topButtons .buttonsRight {
    flex: 1;
    display: flex;
    flex-direction: row;
}
.nowPlaying .topButtons .buttonsRight {
    justify-content: end;
}

.nowPlaying .tabView {
    flex: 2;
}

.nowPlaying .nowPlayingPage {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    overflow: hidden !important;
}

.nowPlayingPage .albumArtList {
    position: relative;
}

.nowPlayingPage .albumArtList .albumArtFrame {
    margin: 0 auto;
    box-sizing: border-box;
    padding: 0 10%;
    border-radius: 12px;
    width: min(100%, 60vh);
}
@media screen and (max-height: 720px) {
    .nowPlayingPage .albumArtList .albumArtFrame {
        width: 50vh;
    }
}
@media screen and (max-height: 600px) {
    .nowPlayingPage .albumArtList .albumArtFrame {
        width: 45vh;
    }
}
@media screen and (max-height: 580px) {
    .nowPlayingPage .albumArtList .albumArtFrame {
        width: 40vh;
    }
}
@media screen and (max-height: 480px) {
    .nowPlayingPage .albumArtList .albumArtFrame {
        width: 0;
    }
    .nowPlayingPage .playbackControls {
        padding-top: 0;
    }
}

.albumArtList .albumArtFrame .albumArtInner {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 15px;
    aspect-ratio: 1 / 1;
    box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.1),
        0 2px 10px rgba(0, 0, 0, 0.4);
    overflow: hidden;
}

.albumArtList .albumArtFrame .albumArtInner img {
    width: 100%;
}

.nowPlayingPage .playbackControls {
    padding-top: 24px;
}

.nowPlayingPage .songDetails {
    padding: 0 30px;
    display: flex;
    flex-direction: row;
}

.nowPlayingPage .songDetails .songDetailsText {
    padding-top: 4px;
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.nowPlayingPage .songDetails .songTitle {
    font-weight: bold;
    font-size: 18pt;
}

.nowPlayingPage .playbackButtons {
    padding: 10px 36px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: auto;
}

@media screen and (max-width: 550px) {
    .nowPlaying {
        z-index: 1000;
        width: 100%;
        left: 0;
        bottom: 0;
    }
    .nowPlaying.hidden {
        transform: translateY(100%);
    }
    .nowPlaying .nowPlayingHideBtn > svg {
        transform: rotate(90deg);
    }
}
