.squareButton {
    font-family: var(--primary-font);
    border: 0;
    outline: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0;
    background: none;
    background-color: transparent;
    color: white;
    user-select: none;
    padding: 0;
    padding-bottom: 2px;
    border-radius: 12px;
    transition: background-color 0.2s;
}
.squareButton.icon {
    border-radius: 50%;
    aspect-ratio: 1 / 1;
}
.squareButton.vertical {
    flex-direction: column;
}
.squareButton.horizontal {
    flex-direction: row;
}

.squareButton > span {
    padding: 0 6px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.squareButton > svg {
    transition: transform 0.2s;
}

#app.full .squareButton:hover {
    background-color: rgba(255, 255, 255, 0.12);
}
#app.all .squareButton:active,
#app.all .squareButton.toggleOn {
    background-color: rgba(255, 255, 255, 0.2);
}
.squareButton:active > svg {
    transform: scale(0.85);
}

.squareButton:focus:not(:active) {
    animation: border-highlight 1s;
}
